/* Search bar and results */

.container {
  margin-top: 60px;
  text-align: center;
  background: linear-gradient(
    to bottom,
    white 20px,
    rgba(240, 241, 246, 255) 150px
  );
  position: relative;
  z-index: 100;
}

form {
  height: 5em;
  width: 70%;
  margin: 0 auto;
  background: hsl(257, 27%, 26%) url("./images/bg-shorten-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 7px;
  padding: 1em 0;
}

.link {
  width: 60%;
  height: 2.5em;
  border-radius: 7px;
  border: none;
  resize: none;
  outline: none;
  padding: 5px 10px;
}

.shorten {
  border: none;
  resize: none;
  outline: none;
  background-color: hsl(180, 66%, 49%);
  color: white;
  border-radius: 10px;
  padding: 13px;
  width: 20%;
  cursor: pointer;
}

.shorten:hover {
  background-color: hsl(180, 66%, 69%);
}

.result {
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 68%;
  margin: 1.5em auto;
  padding: 10px;
}

.result > p {
  color: hsl(260, 8%, 14%);
  font-size: 15px;
}

.copy {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 25%;
}

.copy > a {
  text-decoration: none;
  font-size: 15px;
  color: hsl(180, 66%, 49%);
}

.copy > button {
  background-color: hsl(180, 66%, 49%);
  color: white;
  border-radius: 5px;
  padding: 6px;
  width: 6em;
  border: none;
  cursor: pointer;
}

.copy > button:hover {
  background-color: hsl(180, 66%, 69%);
}

.error-msg {
  display: none;
}

.link.active {
  border: 4px solid hsl(0, 87%, 67%);
}

.error-msg.active {
  display: inline-block;
  position: absolute;
  top: 12vh;
  left: 20%;
  color: hsl(0, 87%, 67%);
  font-size: 13px;
}

@media screen and (max-width: 768px) {
  .container {
    padding-top: 3em;
  }

  form {
    flex-direction: column;
    justify-content: space-between;
    height: 7em;
    width: 70%;
    padding: 1.2em 2em;
  }

  .link {
    width: 100%;
  }

  .shorten {
    width: 100%;
  }

  .result {
    flex-direction: column;
    text-align: left;
    height: 8em;
    overflow-x: hidden;
  }

  .copy {
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    height: 5em;
    border-top: 1px solid hsl(180, 66%, 49%);
  }

  .error-msg.active {
    top: 17vh;
  }
}
